<!DOCTYPE html>
<html>
<head>
  <title>UrlShortner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.png' %>

</head>
<body>

  <%= yield %>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">
        &#169;<%= Time.now.year %> - SMIP<sup>&#174;</sup>
      </p>

      <p class="pull-right navbar-text">
        <span class="glyphicon glyphicon-star"></span> A project by <a href="http://cameroneckelberry.com/" target="_blank">Cameron Eckelberry</a>
      </p>

    </div>
  </div>

</body>
</html>
